
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: redis.cache.azure.crossplane.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.conditions[?(@.type=='Ready')].status
    name: READY
    type: string
  - JSONPath: .status.conditions[?(@.type=='Synced')].status
    name: SYNCED
    type: string
  - JSONPath: .status.atProvider.provisioningState
    name: STATE
    type: string
  - JSONPath: .status.atProvider.redisVersion
    name: VERSION
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: AGE
    type: date
  group: cache.azure.crossplane.io
  names:
    categories:
    - crossplane
    - managed
    - azure
    kind: Redis
    listKind: RedisList
    plural: redis
    singular: redis
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: A Redis is a managed resource that represents an Azure Redis cluster.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: A RedisSpec defines the desired state of a Redis.
          properties:
            claimRef:
              description: ClaimReference specifies the resource claim to which this
                managed resource will be bound. ClaimReference is set automatically
                during dynamic provisioning. Crossplane does not currently support
                setting this field manually, per https://github.com/crossplane/crossplane-runtime/issues/19
              properties:
                apiVersion:
                  description: API version of the referent.
                  type: string
                fieldPath:
                  description: 'If referring to a piece of an object instead of an
                    entire object, this string should contain a valid JSON/Go field
                    access statement, such as desiredState.manifest.containers[2].
                    For example, if the object reference is to a container within
                    a pod, this would take on a value like: "spec.containers{name}"
                    (where "name" refers to the name of the container that triggered
                    the event) or if no container name is specified "spec.containers[2]"
                    (container with index 2 in this pod). This syntax is chosen only
                    to have some well-defined way of referencing a part of an object.
                    TODO: this design is not final and this field is subject to change
                    in the future.'
                  type: string
                kind:
                  description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                  type: string
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                  type: string
                namespace:
                  description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                  type: string
                resourceVersion:
                  description: 'Specific resourceVersion to which this reference is
                    made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                  type: string
                uid:
                  description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                  type: string
              type: object
            classRef:
              description: ClassReference specifies the resource class that was used
                to dynamically provision this managed resource, if any. Crossplane
                does not currently support setting this field manually, per https://github.com/crossplane/crossplane-runtime/issues/20
              properties:
                apiVersion:
                  description: API version of the referent.
                  type: string
                fieldPath:
                  description: 'If referring to a piece of an object instead of an
                    entire object, this string should contain a valid JSON/Go field
                    access statement, such as desiredState.manifest.containers[2].
                    For example, if the object reference is to a container within
                    a pod, this would take on a value like: "spec.containers{name}"
                    (where "name" refers to the name of the container that triggered
                    the event) or if no container name is specified "spec.containers[2]"
                    (container with index 2 in this pod). This syntax is chosen only
                    to have some well-defined way of referencing a part of an object.
                    TODO: this design is not final and this field is subject to change
                    in the future.'
                  type: string
                kind:
                  description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                  type: string
                name:
                  description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                  type: string
                namespace:
                  description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                  type: string
                resourceVersion:
                  description: 'Specific resourceVersion to which this reference is
                    made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                  type: string
                uid:
                  description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                  type: string
              type: object
            forProvider:
              description: RedisParameters define the desired state of an Azure Redis
                cluster. https://docs.microsoft.com/en-us/rest/api/redis/redis/create#redisresource
              properties:
                enableNonSslPort:
                  description: EnableNonSSLPort specifies whether the non-ssl Redis
                    server port (6379) is enabled.
                  type: boolean
                location:
                  description: Location in which to create this resource.
                  type: string
                minimumTlsVersion:
                  description: 'MinimumTLSVersion - Optional: requires clients to
                    use a specified TLS version (or higher) to connect (e,g, ''1.0'',
                    ''1.1'', ''1.2''). Possible values include: ''OneFullStopZero'',
                    ''OneFullStopOne'', ''OneFullStopTwo'''
                  type: string
                redisConfiguration:
                  additionalProperties:
                    type: string
                  description: 'RedisConfiguration - All Redis Settings. Few possible
                    keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency
                    maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,
                    slowlog-log-slower-than,slowlog-max-len,list-max-ziplist-entries,
                    list-max-ziplist-value,hash-max-ziplist-entries,hash-max-ziplist-value,
                    set-max-intset-entries,zset-max-ziplist-entries,zset-max-ziplist-value
                    etc.'
                  type: object
                resourceGroupName:
                  description: ResourceGroupName in which to create this resource.
                  type: string
                resourceGroupNameRef:
                  description: ResourceGroupNameRef to fetch resource group name.
                  properties:
                    name:
                      description: Name of the referenced object.
                      type: string
                  required:
                  - name
                  type: object
                resourceGroupNameSelector:
                  description: ResourceGroupNameSelector to select a reference to
                    a resource group.
                  properties:
                    matchControllerRef:
                      description: MatchControllerRef ensures an object with the same
                        controller reference as the selecting object is selected.
                      type: boolean
                    matchLabels:
                      additionalProperties:
                        type: string
                      description: MatchLabels ensures an object with matching labels
                        is selected.
                      type: object
                  type: object
                shardCount:
                  description: ShardCount specifies the number of shards to be created
                    on a Premium Cluster Cache.
                  type: integer
                sku:
                  description: Sku - The SKU of the Redis cache to deploy.
                  properties:
                    capacity:
                      description: 'Capacity specifies the size of Redis cache to
                        deploy. Valid values: for C family (0, 1, 2, 3, 4, 5, 6),
                        for P family (1, 2, 3, 4).'
                      maximum: 6
                      minimum: 0
                      type: integer
                    family:
                      description: 'Family specifies which family to use. Valid values:
                        (C, P). Possible values include: ''C'', ''P'''
                      enum:
                      - C
                      - P
                      type: string
                    name:
                      description: 'Name specifies what type of Redis cache to deploy.
                        Valid values: (Basic, Standard, Premium). Possible values
                        include: ''Basic'', ''Standard'', ''Premium'''
                      enum:
                      - Basic
                      - Standard
                      - Premium
                      type: string
                  required:
                  - capacity
                  - family
                  - name
                  type: object
                staticIp:
                  description: StaticIP address. Required when deploying a Redis cache
                    inside an existing Azure Virtual Network.
                  type: string
                subnetId:
                  description: 'SubnetID specifies the full resource ID of a subnet
                    in a virtual network to deploy the Redis cache in. Example format:
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/Microsoft.{Network|ClassicNetwork}/VirtualNetworks/vnet1/subnets/subnet1'
                  type: string
                tags:
                  additionalProperties:
                    type: string
                  description: Tags - Resource tags.
                  type: object
                tenantSettings:
                  additionalProperties:
                    type: string
                  description: TenantSettings - A dictionary of tenant settings
                  type: object
                zones:
                  description: Zones - A list of availability zones denoting where
                    the resource needs to come from.
                  items:
                    type: string
                  type: array
              required:
              - location
              - sku
              type: object
            providerRef:
              description: ProviderReference specifies the provider that will be used
                to create, observe, update, and delete this managed resource.
              properties:
                name:
                  description: Name of the referenced object.
                  type: string
              required:
              - name
              type: object
            reclaimPolicy:
              description: ReclaimPolicy specifies what will happen to this managed
                resource when its resource claim is deleted, and what will happen
                to the underlying external resource when the managed resource is deleted.
                The "Delete" policy causes the managed resource to be deleted when
                its bound resource claim is deleted, and in turn causes the external
                resource to be deleted when its managed resource is deleted. The "Retain"
                policy causes the managed resource to be retained, in binding phase
                "Released", when its resource claim is deleted, and in turn causes
                the external resource to be retained when its managed resource is
                deleted. The "Retain" policy is used when no policy is specified.
              enum:
              - Retain
              - Delete
              type: string
            writeConnectionSecretToRef:
              description: WriteConnectionSecretToReference specifies the namespace
                and name of a Secret to which any connection details for this managed
                resource should be written. Connection details frequently include
                the endpoint, username, and password required to connect to the managed
                resource.
              properties:
                name:
                  description: Name of the secret.
                  type: string
                namespace:
                  description: Namespace of the secret.
                  type: string
              required:
              - name
              - namespace
              type: object
          required:
          - forProvider
          - providerRef
          type: object
        status:
          description: A RedisStatus represents the observed state of a Redis.
          properties:
            atProvider:
              description: RedisObservation represents the observed state of the Redis
                object in Azure.
              properties:
                hostName:
                  description: HostName - Redis host name.
                  type: string
                id:
                  description: ID - Resource ID.
                  type: string
                linkedServers:
                  description: LinkedServers - List of the linked servers associated
                    with the cache
                  items:
                    type: string
                  type: array
                name:
                  description: Name - Resource name.
                  type: string
                port:
                  description: Port - Redis non-SSL port.
                  type: integer
                provisioningState:
                  description: 'ProvisioningState - Redis instance provisioning status.
                    Possible values include: ''Creating'', ''Deleting'', ''Disabled'',
                    ''Failed'', ''Linking'', ''Provisioning'', ''RecoveringScaleFailure'',
                    ''Scaling'', ''Succeeded'', ''Unlinking'', ''Unprovisioning'',
                    ''Updating'''
                  type: string
                redisVersion:
                  description: RedisVersion - Redis version.
                  type: string
                sslPort:
                  description: SSLPort - Redis SSL port.
                  type: integer
              type: object
            bindingPhase:
              description: Phase represents the binding phase of a managed resource
                or claim. Unbindable resources cannot be bound, typically because
                they are currently unavailable, or still being created. Unbound resource
                are available for binding, and Bound resources have successfully bound
                to another resource.
              enum:
              - Unbindable
              - Unbound
              - Bound
              - Released
              type: string
            conditions:
              description: Conditions of the resource.
              items:
                description: A Condition that may apply to a resource.
                properties:
                  lastTransitionTime:
                    description: LastTransitionTime is the last time this condition
                      transitioned from one status to another.
                    format: date-time
                    type: string
                  message:
                    description: A Message containing details about this condition's
                      last transition from one status to another, if any.
                    type: string
                  reason:
                    description: A Reason for this condition's last transition from
                      one status to another.
                    type: string
                  status:
                    description: Status of this condition; is it currently True, False,
                      or Unknown?
                    type: string
                  type:
                    description: Type of this condition. At most one of each condition
                      type may apply to a resource at any point in time.
                    type: string
                required:
                - lastTransitionTime
                - reason
                - status
                - type
                type: object
              type: array
          type: object
      required:
      - spec
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
