
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: aksclusterclasses.compute.azure.crossplane.io
spec:
  additionalPrinterColumns:
  - JSONPath: .specTemplate.providerRef.name
    name: PROVIDER-REF
    type: string
  - JSONPath: .specTemplate.reclaimPolicy
    name: RECLAIM-POLICY
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: AGE
    type: date
  group: compute.azure.crossplane.io
  names:
    categories:
    - crossplane
    - class
    - azure
    kind: AKSClusterClass
    listKind: AKSClusterClassList
    plural: aksclusterclasses
    singular: aksclusterclass
  scope: Cluster
  subresources: {}
  validation:
    openAPIV3Schema:
      description: An AKSClusterClass is a non-portable resource class. It defines
        the desired spec of resource claims that use it to dynamically provision a
        managed resource.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        specTemplate:
          description: SpecTemplate is a template for the spec of a dynamically provisioned
            AKSCluster.
          properties:
            disableRBAC:
              description: DisableRBAC determines whether RBAC will be disabled or
                enabled in the cluster.
              type: boolean
            dnsNamePrefix:
              description: DNSNamePrefix is the DNS name prefix to use with the hosted
                Kubernetes API server FQDN. You will use this to connect to the Kubernetes
                API when managing containers after creating the cluster.
              type: string
            location:
              description: Location is the Azure location that the cluster will be
                created in
              type: string
            nodeCount:
              description: NodeCount is the number of nodes that the cluster will
                initially be created with.  This can be scaled over time and defaults
                to 1.
              maximum: 100
              minimum: 0
              type: integer
            nodeVMSize:
              description: NodeVMSize is the name of the worker node VM size, e.g.,
                Standard_B2s, Standard_F2s_v2, etc.
              type: string
            providerRef:
              description: ProviderReference specifies the provider that will be used
                to create, observe, update, and delete managed resources that are
                dynamically provisioned using this resource class.
              properties:
                name:
                  description: Name of the referenced object.
                  type: string
              required:
              - name
              type: object
            reclaimPolicy:
              description: ReclaimPolicy specifies what will happen to managed resources
                dynamically provisioned using this class when their resource claims
                are deleted, and what will happen to their underlying external resource
                when they are deleted. The "Delete" policy causes the managed resource
                to be deleted when its bound resource claim is deleted, and in turn
                causes the external resource to be deleted when its managed resource
                is deleted. The "Retain" policy causes the managed resource to be
                retained, in binding phase "Released", when its resource claim is
                deleted, and in turn causes the external resource to be retained when
                its managed resource is deleted. The "Retain" policy is used when
                no policy is specified, however the "Delete" policy is set at dynamic
                provisioning time if no policy is set.
              enum:
              - Retain
              - Delete
              type: string
            resourceGroupName:
              description: ResourceGroupName is the name of the resource group that
                the cluster will be created in
              type: string
            resourceGroupNameRef:
              description: ResourceGroupNameRef - A reference to a ResourceGroup to
                retrieve its name
              properties:
                name:
                  description: Name of the referenced object.
                  type: string
              required:
              - name
              type: object
            resourceGroupNameSelector:
              description: ResourceGroupNameSelector - Select a reference to a ResourceGroup
                to retrieve its name
              properties:
                matchControllerRef:
                  description: MatchControllerRef ensures an object with the same
                    controller reference as the selecting object is selected.
                  type: boolean
                matchLabels:
                  additionalProperties:
                    type: string
                  description: MatchLabels ensures an object with matching labels
                    is selected.
                  type: object
              type: object
            version:
              description: Version is the Kubernetes version that will be deployed
                to the cluster
              type: string
            vnetSubnetID:
              description: VnetSubnetID is the subnet to which the cluster will be
                deployed.
              type: string
            vnetSubnetIDRef:
              description: ResourceGroupNameRef - A reference to a Subnet to retrieve
                its ID
              properties:
                name:
                  description: Name of the referenced object.
                  type: string
              required:
              - name
              type: object
            vnetSubnetIDSelector:
              description: ResourceGroupNameSelector - Select a reference to a Subnet
                to retrieve its ID
              properties:
                matchControllerRef:
                  description: MatchControllerRef ensures an object with the same
                    controller reference as the selecting object is selected.
                  type: boolean
                matchLabels:
                  additionalProperties:
                    type: string
                  description: MatchLabels ensures an object with matching labels
                    is selected.
                  type: object
              type: object
            writeConnectionSecretsToNamespace:
              description: WriteConnectionSecretsToNamespace specifies the namespace
                in which the connection secrets of managed resources dynamically provisioned
                using this claim will be created.
              type: string
          required:
          - location
          - providerRef
          - version
          - writeConnectionSecretsToNamespace
          type: object
      required:
      - specTemplate
      type: object
  version: v1alpha3
  versions:
  - name: v1alpha3
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
